*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

body {
	width: 80%;
	height: 90%;
	background-color: #aabaf7;
	display: grid;
	place-items: center;
}

.flex {
	display: flex;
}

.summary {
	width: 80%;
	height: 80%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.biography {
	width: 45%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.biography span {
	width: 50%;
}

.bio-text {
	width: 80%;
	font-size: 1rem;
	line-height: 1.5;
}

#self-portrait {
	background-color: none;
	border-radius: 35% 35% 0% 0%;
	border: 3px solid;
	width: 45%;
	height: auto;
	object-fit: contain;
	max-width: 100%;
}

a {
	text-decoration: none;
	background-color: hsl(228, 71%, 73%, 0.5);
	padding: 2rem;
	border-radius: 100vw;
	color: #5d6a9e;
}

a:visited {
	text-decoration: none;
	color: #5d6a9e;
}

a:hover {
	color: #353c67;
}
